*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background-color: white;
    color: black;
}

.two{
    background-color: black;
    color: white;
    padding: 20px;
    
    width: 100%;
}

.two a:hover{
    color:gray;
}

.one li{
    display: inline;
}

.two a {
    color:white;
    text-decoration: none;
    margin: 0 15px;
    cursor:pointer;
}

.profile-image{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}   
header{
    text-align: center;
}
header div{
    border: 5px;
    
    border-color: gray;
    background-color: black;
    color: gray;   
}
main summary{
    
    cursor: pointer;
    text-decoration: none;
    list-style: circle;
    
    
}
main{
    margin: 10%;
}
section{
    padding: 5%;
<<<<<<< HEAD
}
=======
}
>>>>>>> 839526ac0c8967c18ca46286a6308c300f3d75b7
